.ShoutoutForm {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 142, 100);
  border: 2px solid orangered;
  border-radius: 15px;
  padding: 20px 10px;
  margin: 20px;
}

.ShoutoutForm label {
  font-weight: 600;
  padding-top: 10px;
}

.ShoutoutForm input {
  width: 50%;
  border-color: orangered;
  border-radius: 5px;
}

.ShoutoutForm textarea {
  margin-bottom: 10px;
  border-color: orangered;
  border-radius: 5px;
}

.ShoutoutForm #upload {
  margin-bottom: 10px;
}

.ShoutoutForm button {
  background-color: white;
  border: 1px solid orangered;
  border-radius: 10px;
  padding: 5px;
  width: 50%;
  box-shadow: 5px 5px 5px rgb(255, 69, 2, 0.6);
}
.ShoutoutForm button:hover {
  background-color: orangered;
}
